html, body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}
.container{
  max-width: 1170px;
}
@media (max-width: 990px) {
  .container{
    max-width: 600px;
  }
}
@media (max-width: 569px) {
  .container{
    max-width: 100%;
  }
}
.row{
  padding: 0;
  margin: 0;
}
 h1, h2, h3, h1, h2, h3{
   margin: 0;
   padding: 0;
 }
 h1{
   font-size: 48px;
   color: #fffefe;
   text-transform: uppercase;
 }
 h2{
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
 }
 .title{
   font-size: 30px;
   text-transform: uppercase;
   color: #000000;
   position: relative;
   padding-bottom: 20px;
   margin-bottom: 30px;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
 }
.title:before{
  content: '';
   position: absolute;
   background-color: #448aff;
   height: 1px;
   width: 175px;
   bottom: 0;
 }
.par{
  max-width: 1100px;
  font-size: 18px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  font-size: 18px;
}

.form{

}

footer{
  padding: 50px 0;
  margin-top: 0;
  width: 100%;
  background-color: #444444;
  display: flex;
  align-items: center;
  .container{
    .row{
      .footer-logo{
        position: relative;
        margin-top: 45px;
      }
      .footer-logo:after{
        content: url(../img/footer-line.png);
        position: absolute;
        right: 55px;
        bottom: -50px;
      }
      h6{
        font-size: 16px;
        color: #fff;
        padding-bottom: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
      }
      ul{
        list-style: none;
        padding-left: 0;
        li{
          a{
            color: #a1a1a1;
            font-size: 12px;
            line-height: 2;
            font-family: 'Open Sans', sans-serif;
          }
          a:hover{
            color: #fff;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  footer{
    padding: 0;
    .container{
      .row{
        .footer-logo{
        }
        .footer-logo:after{
          //content: url(../img/footer-line.png);
          //position: absolute;
          //right: 55px;
          //bottom: -50px;
          display: none;
        }
        .footer-nav{
          text-align: center;
          h6{
            padding-top: 25px;
            padding-bottom: 0;
          }
        }
        .footer-services{
          text-align: center;
          h6{
            padding-top: 25px;
            padding-bottom: 0;
          }
        }
        .footer-contact{
          text-align: center;
          h6{
            padding-top: 25px;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 569px) {
  footer{
    padding: 0;
    .container{
      .row{
        .footer-logo{
        }
        .footer-logo:after{
          //content: url(../img/footer-line.png);
          //position: absolute;
          //right: 55px;
          //bottom: -50px;
          display: none;
        }
        .footer-nav{
          text-align: center;
          h6{
            padding-top: 25px;
            padding-bottom: 0;
          }
        }
        .footer-services{
          text-align: center;
          h6{
            padding-top: 25px;
            padding-bottom: 0;
          }
        }
        .footer-contact{
          text-align: center;
          h6{
            padding-top: 25px;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}