.catalog{
  background-image: url(../img/catalog-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 515px;
  width: 100%;
  margin-top: 135px;
  position: relative;
  margin-bottom: 200px;
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(18, 30, 97, 0.5);
  }
  h1{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 515px;
  }
}
.catalog:after{
  position: absolute;
  content: url(../img/main-line.png);
  width: 195px;
  height: 145px;
  left: 40%;
  bottom: -143px;
}
.cat-p{
  padding-left: 15px;
}

.pagin-cat{
  padding-top: 100px;
  width: 100%;
  text-align: center;
  ul{
    display: inline-flex;
    list-style: none;
    li{
      margin: 0 10px;
      a{
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-decoration: none;
        //border: 1px solid #448aff;
        border-radius: 100%;
        background-color: #fff;
        color: #448aff;
        padding: 15px 23px;
        transition: 0.5s all;
      }
      a:hover{
        background-color: #448aff;
        color: #fff;
      }
      .btn-next{
      }
    }
    li:last-child{
      a{
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid #448aff;
        border-radius: 50px;
        background-color: #448aff;
        color: #fff;
        padding: 15px 80px;
        transition: 0.5s all;
      }
    }
  }
}