header{
  height: 100vh;
  position: relative;
  margin-bottom: 230px;
  background-color: rgba(166,206,57,.7);
  overflow: hidden;
  //height: 100vh;
  //overflow-x: hidden;
  //overflow-y: hidden;
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(18, 30, 97, 0.5);
  }
  video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    //top: 50%;
    //left: 50%;
    //z-index: 0;
    //min-width: 100%;
    //min-height: 100%;
    //width: auto;
    //height: auto;
    //transform: translate(-50%, -50%);
  }
  nav{
    position: absolute;
    text-transform: uppercase;
    right: 50px;
    left: 50px;
    z-index: 1;
    top: 0;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    #logo-icon{
      background: url(../img/main-logo.png) no-repeat;
      height: 75px;
      width: 70px;
      //position: absolute;
      //left: 60px;
      //top: 50px;
    }
    .up-nav{
      float: right;
      list-style: none;
      font-size: 18px;
      font-family: Open-Sans Regular, sans-serif;
      li{
        padding-left: 50px;
        display: inline-block;
        a{
          color: #fffefe;
          text-decoration: none;
        }
        a:hover{
          color: #448aff;
        }
      }
      .lang{
        .dropdown-lang{
          position: absolute;
          opacity: 0;
          display: flex;
          flex-direction: column;
          transition: 0.5s all;
        }
      }
      .lang:hover .dropdown-lang{
        opacity: 1;
      }
    }
    .down-nav{
      list-style: none;
      font-size: 18px;
      font-family: Open-Sans Extrabold;
      li{
        padding-left: 50px;
        display: inline-block;
        a{
          color: #fffefe;
          text-decoration: none;
        }
        a:hover{
          color: #448aff;
        }
      }
    }
  }
  .table{
    z-index: 1;
    display: table;
    height: 100%;
    width: 100%;
    .table-cell{
      vertical-align: middle;
      display: table-cell;
      .container{
        h1{
          position: absolute;
        }
      }
    }
  }
}
.main-line{
  position: relative;
}
.main-line:after{
  position: absolute;
  content: url(../img/main-line.png);
  width: 195px;
  height: 145px;
  left: 45%;
}
.about-us{
  width: 100%;
  h2{}
  p{
    span{
      color: #000000;
    }
  }
  .ford{
    background-image: url(/img/ford.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 530px;
  }
  .we-know{
    margin-top: 100px;
  }
}

.avto-usa{
  background-image: url(/img/bg-avto-usa.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  //height: 200px;
  width: 100%;
  margin-top: 160px;
  .container{
    .row{
      .avto-usa-foto{
        //height: 510px;
        //width: 310px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 78px -10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        .avto-usa-img{
          background-image: url(/img/avto-usa-img.png);
          height: 500px;
          width: 300px;
          margin: 0 auto;
        }
      }
      .avto-usa-info{
        .title:before{
          top: 50px;
        }
      }
    }
  }
}

.main-form{
  background-image: url(/img/main-form-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 100%;
  height: 700px;
  margin-top: -100px;
  margin-bottom: 165px;
}

.car-available{
  margin-bottom: 200px;
  .container{
    .row{
      margin-top: 50px;
      .car-item{
        min-height: 425px;
        min-width: 350px;
        border: 1px #d9d9d9 solid;
        border-radius: 5px;
        margin-bottom: 30px;
          .car-item-foto{
            margin-top: -2px;
            margin-left: -2px;
            img{
              width: 350px;
              height: 200px;
              border-radius: 5px;
            }
        }
      }
    }
  }
}
