/* line 1, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

/* line 7, ../sass/base.scss */
.container {
  max-width: 1170px;
}

@media (max-width: 990px) {
  /* line 11, ../sass/base.scss */
  .container {
    max-width: 600px;
  }
}
@media (max-width: 569px) {
  /* line 16, ../sass/base.scss */
  .container {
    max-width: 100%;
  }
}
/* line 20, ../sass/base.scss */
.row {
  padding: 0;
  margin: 0;
}

/* line 24, ../sass/base.scss */
h1, h2, h3, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/base.scss */
h1 {
  font-size: 48px;
  color: #fffefe;
  text-transform: uppercase;
}

/* line 33, ../sass/base.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 30px;
}

/* line 38, ../sass/base.scss */
.title {
  line-height: 30px;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* line 49, ../sass/base.scss */
.title:before {
  content: '';
  position: absolute;
  background-color: #448aff;
  height: 1px;
  width: 175px;
  bottom: 0;
}

/* line 57, ../sass/base.scss */
.par {
  max-width: 1100px;
  font-size: 18px;
  color: #888888;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}

/* line 64, ../sass/base.scss */
p {
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  font-size: 18px;
}

@media (max-width: 569px) {
  /* line 71, ../sass/base.scss */
  h1 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
  }

  /* line 76, ../sass/base.scss */
  .title {
    font-size: 24px;
  }

  /* line 79, ../sass/base.scss */
  h2 {
    font-size: 24px;
  }

  /* line 82, ../sass/base.scss */
  p {
    font-size: 14px;
  }
}
/* line 90, ../sass/base.scss */
footer {
  padding: 50px 0;
  margin-top: 0;
  width: 100%;
  background-color: #444444;
  display: flex;
  align-items: center;
}
/* line 99, ../sass/base.scss */
footer .container .row .footer-logo {
  position: relative;
  margin-top: 45px;
}
/* line 103, ../sass/base.scss */
footer .container .row .footer-logo:after {
  content: url(../img/footer-line.png);
  position: absolute;
  right: 55px;
  bottom: -50px;
}
/* line 109, ../sass/base.scss */
footer .container .row h6 {
  font-size: 16px;
  color: #fff;
  padding-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
/* line 116, ../sass/base.scss */
footer .container .row ul {
  list-style: none;
  padding-left: 0;
}
/* line 120, ../sass/base.scss */
footer .container .row ul li a {
  color: #a1a1a1;
  font-size: 12px;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}
/* line 126, ../sass/base.scss */
footer .container .row ul li a:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  /* line 135, ../sass/base.scss */
  footer {
    padding: 0;
  }
  /* line 141, ../sass/base.scss */
  footer .container .row .footer-logo:after {
    display: none;
  }
  /* line 148, ../sass/base.scss */
  footer .container .row .footer-nav {
    text-align: center;
  }
  /* line 150, ../sass/base.scss */
  footer .container .row .footer-nav h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 155, ../sass/base.scss */
  footer .container .row .footer-services {
    text-align: center;
  }
  /* line 157, ../sass/base.scss */
  footer .container .row .footer-services h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 162, ../sass/base.scss */
  footer .container .row .footer-contact {
    text-align: center;
  }
  /* line 164, ../sass/base.scss */
  footer .container .row .footer-contact h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
@media (max-width: 569px) {
  /* line 174, ../sass/base.scss */
  footer {
    padding: 0;
  }
  /* line 180, ../sass/base.scss */
  footer .container .row .footer-logo:after {
    display: none;
  }
  /* line 187, ../sass/base.scss */
  footer .container .row .footer-nav {
    text-align: center;
  }
  /* line 189, ../sass/base.scss */
  footer .container .row .footer-nav h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 194, ../sass/base.scss */
  footer .container .row .footer-services {
    text-align: center;
  }
  /* line 196, ../sass/base.scss */
  footer .container .row .footer-services h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 201, ../sass/base.scss */
  footer .container .row .footer-contact {
    text-align: center;
  }
  /* line 203, ../sass/base.scss */
  footer .container .row .footer-contact h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
@media (max-width: 569px) {
  /* line 215, ../sass/base.scss */
  .form-call {
    position: relative;
    width: 100%;
    max-height: 580px;
    background-color: #fff;
    margin-top: 160px;
    border-radius: 5px;
    box-shadow: 0px 0px 78px -10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  /* line 224, ../sass/base.scss */
  .form-call .text-form {
    width: 100%;
    /* margin: 0 auto; */
    margin-top: 10px;
    padding: 20px;
  }
  /* line 229, ../sass/base.scss */
  .form-call .text-form .title {
    margin-bottom: 10px;
  }
  /* line 232, ../sass/base.scss */
  .form-call .text-form p {
    font-size: 12px;
  }
  /* line 235, ../sass/base.scss */
  .form-call .text-form input[type=text], .form-call .text-form select {
    width: 100%;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    outline: none;
  }
  /* line 247, ../sass/base.scss */
  .form-call .text-form input[type=text]:active {
    border-radius: 50px;
    border: 1px solid #448aff;
    outline: none;
  }
  /* line 252, ../sass/base.scss */
  .form-call .text-form input[type=text]:focus {
    border-radius: 50px;
    border: 1px solid #448aff;
    outline: none;
  }
  /* line 258, ../sass/base.scss */
  .form-call .text-form input[type=submit] {
    width: 100%;
    background-color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 30px;
    border: 1px solid #448aff;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #448aff;
    outline: none;
    transition: 0.5s all;
  }
  /* line 275, ../sass/base.scss */
  .form-call .text-form input[type=submit]:hover {
    color: #fff;
    background-color: #448aff;
  }
}
