/* line 1, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

/* line 7, ../sass/base.scss */
.container {
  max-width: 1170px;
}

/* line 10, ../sass/base.scss */
.row {
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/base.scss */
h1, h2, h3, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/base.scss */
h1 {
  font-size: 48px;
  color: #fffefe;
  text-transform: uppercase;
}

/* line 23, ../sass/base.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* line 27, ../sass/base.scss */
.title {
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* line 37, ../sass/base.scss */
.title:before {
  content: '';
  position: absolute;
  background-color: #448aff;
  height: 1px;
  width: 175px;
  bottom: 0;
}

/* line 45, ../sass/base.scss */
.par {
  max-width: 1100px;
  font-size: 18px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
}

/* line 51, ../sass/base.scss */
p {
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  font-size: 18px;
}

/* line 61, ../sass/base.scss */
footer {
  padding: 50px 0;
  margin-top: 0;
  width: 100%;
  background-color: #444444;
  display: flex;
  align-items: center;
}
/* line 70, ../sass/base.scss */
footer .container .row .footer-logo {
  position: relative;
  margin-top: 45px;
}
/* line 74, ../sass/base.scss */
footer .container .row .footer-logo:after {
  content: url(../img/footer-line.png);
  position: absolute;
  right: 55px;
  bottom: -50px;
}
/* line 80, ../sass/base.scss */
footer .container .row h6 {
  font-size: 16px;
  color: #fff;
  padding-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
/* line 87, ../sass/base.scss */
footer .container .row ul {
  list-style: none;
  padding-left: 0;
}
/* line 91, ../sass/base.scss */
footer .container .row ul li a {
  color: #a1a1a1;
  font-size: 12px;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}
/* line 97, ../sass/base.scss */
footer .container .row ul li a:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  /* line 106, ../sass/base.scss */
  footer {
    padding: 0;
  }
  /* line 112, ../sass/base.scss */
  footer .container .row .footer-logo:after {
    display: none;
  }
  /* line 119, ../sass/base.scss */
  footer .container .row .footer-nav {
    text-align: center;
  }
  /* line 121, ../sass/base.scss */
  footer .container .row .footer-nav h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 126, ../sass/base.scss */
  footer .container .row .footer-services {
    text-align: center;
  }
  /* line 128, ../sass/base.scss */
  footer .container .row .footer-services h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 133, ../sass/base.scss */
  footer .container .row .footer-contact {
    text-align: center;
  }
  /* line 135, ../sass/base.scss */
  footer .container .row .footer-contact h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
@media (max-width: 569px) {
  /* line 145, ../sass/base.scss */
  footer {
    padding: 0;
  }
  /* line 151, ../sass/base.scss */
  footer .container .row .footer-logo:after {
    display: none;
  }
  /* line 158, ../sass/base.scss */
  footer .container .row .footer-nav {
    text-align: center;
  }
  /* line 160, ../sass/base.scss */
  footer .container .row .footer-nav h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 165, ../sass/base.scss */
  footer .container .row .footer-services {
    text-align: center;
  }
  /* line 167, ../sass/base.scss */
  footer .container .row .footer-services h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 172, ../sass/base.scss */
  footer .container .row .footer-contact {
    text-align: center;
  }
  /* line 174, ../sass/base.scss */
  footer .container .row .footer-contact h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
