/* line 1, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

/* line 7, ../sass/base.scss */
.container {
  max-width: 1170px;
}

@media (max-width: 990px) {
  /* line 11, ../sass/base.scss */
  .container {
    max-width: 600px;
  }
}
@media (max-width: 569px) {
  /* line 16, ../sass/base.scss */
  .container {
    max-width: 100%;
  }
}
/* line 20, ../sass/base.scss */
.row {
  padding: 0;
  margin: 0;
}

/* line 24, ../sass/base.scss */
h1, h2, h3, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/base.scss */
h1 {
  font-size: 48px;
  color: #fffefe;
  text-transform: uppercase;
}

/* line 33, ../sass/base.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* line 37, ../sass/base.scss */
.title {
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* line 47, ../sass/base.scss */
.title:before {
  content: '';
  position: absolute;
  background-color: #448aff;
  height: 1px;
  width: 175px;
  bottom: 0;
}

/* line 55, ../sass/base.scss */
.par {
  max-width: 1100px;
  font-size: 18px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
}

/* line 61, ../sass/base.scss */
p {
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  font-size: 18px;
}

/* line 71, ../sass/base.scss */
footer {
  padding: 50px 0;
  margin-top: 0;
  width: 100%;
  background-color: #444444;
  display: flex;
  align-items: center;
}
/* line 80, ../sass/base.scss */
footer .container .row .footer-logo {
  position: relative;
  margin-top: 45px;
}
/* line 84, ../sass/base.scss */
footer .container .row .footer-logo:after {
  content: url(../img/footer-line.png);
  position: absolute;
  right: 55px;
  bottom: -50px;
}
/* line 90, ../sass/base.scss */
footer .container .row h6 {
  font-size: 16px;
  color: #fff;
  padding-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
/* line 97, ../sass/base.scss */
footer .container .row ul {
  list-style: none;
  padding-left: 0;
}
/* line 101, ../sass/base.scss */
footer .container .row ul li a {
  color: #a1a1a1;
  font-size: 12px;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}
/* line 107, ../sass/base.scss */
footer .container .row ul li a:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  /* line 116, ../sass/base.scss */
  footer {
    padding: 0;
  }
  /* line 122, ../sass/base.scss */
  footer .container .row .footer-logo:after {
    display: none;
  }
  /* line 129, ../sass/base.scss */
  footer .container .row .footer-nav {
    text-align: center;
  }
  /* line 131, ../sass/base.scss */
  footer .container .row .footer-nav h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 136, ../sass/base.scss */
  footer .container .row .footer-services {
    text-align: center;
  }
  /* line 138, ../sass/base.scss */
  footer .container .row .footer-services h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 143, ../sass/base.scss */
  footer .container .row .footer-contact {
    text-align: center;
  }
  /* line 145, ../sass/base.scss */
  footer .container .row .footer-contact h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
@media (max-width: 569px) {
  /* line 155, ../sass/base.scss */
  footer {
    padding: 0;
  }
  /* line 161, ../sass/base.scss */
  footer .container .row .footer-logo:after {
    display: none;
  }
  /* line 168, ../sass/base.scss */
  footer .container .row .footer-nav {
    text-align: center;
  }
  /* line 170, ../sass/base.scss */
  footer .container .row .footer-nav h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 175, ../sass/base.scss */
  footer .container .row .footer-services {
    text-align: center;
  }
  /* line 177, ../sass/base.scss */
  footer .container .row .footer-services h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
  /* line 182, ../sass/base.scss */
  footer .container .row .footer-contact {
    text-align: center;
  }
  /* line 184, ../sass/base.scss */
  footer .container .row .footer-contact h6 {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
